# =========================
# Python (Backend)
# =========================
backend/venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Node (Frontend)
# =========================
frontend/node_modules/
frontend/build/

# =========================
# Environment Variables
# =========================
.env
backend/.env
frontend/.env

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Secrets (IMPORTANT 🔐)
# =========================
backend/secret.key

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db